@{
    ViewBag.Title = "AddUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>


    <h3>Введите свои данные</h3>

    @using (Html.BeginForm("AddUser", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {

            <table>
                <tr>
                    <td>Фамилия:</td>
                    <td><input type="text" name="LastName" /></td>
                </tr>
                <tr>
                    <td>Имя:  </td>
                    <td><input type="text" name="FirstName" /></td>
                </tr>
                <tr>
                    <td>
                        Отчество:
                    </td>
                    <td><input type="text" name="Otchectvo" /></td>
                </tr>
                <tr>
                    <td>
                        Должность:
                    </td>
                    <td><input type="text" name="Position" /></td>
                </tr>
                <tr>
                    <td>
                        Квалификация:
                    </td>
                    <td><input type="text" name="Grade" /></td>
                </tr>
                <tr>
                    <td>
                        Выбор фото:
                    </td>
                    <td><input type="file" name="Foto" accept="image/*" /></td>

                    <td>  <input type="hidden" value="@ViewBag.room" name="Room" /></td>
                    <td>  <input type="hidden" value="@ViewBag.IdRoom" name="idRoom" /></td>
                </tr>

                <tr><td><input type="submit" value="Далее" /> </td><td></td></tr>
            </table>
    }

    </div>


