
@{
    ViewBag.Title = "Error";
}

<h2>Ошибка! @ViewBag.InfoError</h2>

<table>



    <tr>
        <td>
            <form method="post" action="~/Home/Index">

                <input type="submit" value="Главная" />

            </form>
        </td>
    </tr>


  


</table>
