
@{
    ViewBag.Title = "Error";
}

<h2>Ошибка! Введены некорректные данные!</h2>

<table>


    <tr> <td>Вернитесь на главную и проверьте введенные данные</td></tr>


    <tr> <td> <p>@Html.ActionLink("Главная", "Index", "Home", null, null) </p></td></tr>


</table>