
@{
    ViewBag.Title = "Exist";
}

<h2>Запись о таком кабинете уже существует!</h2>



<table>


    <tr> <td>Вернитесь на главную и введите пароль от существующего кабинета, либо зарегистрируйте новый кабинет</td></tr>
    

    <tr> <td> <p>@Html.ActionLink("Главная", "Index", "Home", null, null) </p></td></tr>


</table>