@{
    ViewBag.Title = "NewCab";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
 
    <h3>Введите данные:</h3><br /><br />

    <form method="post" action="AddRoom">
        <table>
            <tr>
                <td><p>Номер кабинета:</p></td>
                <td><input type="text" name="numberRoom" /></td>
            </tr>
           
                          
            <tr><td><input type="submit" value="Далее" /> </td><td></td></tr>
        </table>

    </form>
    
</div>



